.principal {
    display: flex;
    flex-direction: column;
}

.principal .return {
    position: fixed;
    left: 0;
    top: 0;
    height: 3rem;
    width: 5rem;
    margin: 2rem 1rem;
    font-size: 45px;
    border: none;
    background-color: transparent;
}

.principal .h1_ppt {
    width: 100%;
    margin: 1rem 0 2rem;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.principal .marcador {
    position: absolute;
    top: 5rem;
    right: 15px;
    height: 6rem;
    width: 15rem;
    border-radius: 15px;
    background-color: darkorange;
}

.principal .marcador ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0.5rem;
}

.principal .marcador .ul_nombre li{
    text-align: center;
    width: 48%;
    font-size: 25px;
}

.principal .marcador .ul_punteo li{
    text-align: center;
    width: 48%;
    font-size: 40px;
}

.principal .texto_h3 {
    width: 100%;
    margin-top: 1rem;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}


.principal .tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 100%;

}


.principal .tarjetas .ul_opciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 55%;
    list-style: none;
    padding-top: 1rem;
    cursor: pointer;
}

.principal .tarjetas .ul_opciones li {
    height: 20rem;
    width: 14rem;
    border-radius: 10px;
    background-color: antiquewhite;
}

.principal .tarjetas .ul_opciones li:first-child {
    background-image: url("../imagenes/imgPiedra.jpeg");
    background-position: 50%;
    background-size: cover;
}

.principal .tarjetas .ul_opciones li:nth-child(2) {
    background-image: url("../imagenes/imgPapel.jpeg");
    background-position: 50%;
    background-size: cover;
}

.principal .tarjetas .ul_opciones li:last-child {
    background-image: url("../imagenes/imgTijera.jpeg");
    background-position: 50%;
    background-size: cover;
}


.modal_tarjetas {
    display: none;
}
